* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background:var(--primary-background-color);
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
 
}
:root{
  --primary-background-color:#f2f4f8;
  --nav-heading-color:#002e63;
  --settting-button-col:#f8f8f8;
  --red-color:#f24747;
  --dark-yellow-col:#ee9336;
  --yellow-color:#fdc431;
  --green-color:#4cae4c;
  --blue-color:#357abd;
  --light-blue:rgb(48, 123, 219);
}
a{
  text-decoration: none;
  cursor:text;
}

.App{
  background-color: var(--primary-background-color);
  padding: 18px;
  
}